@model ContactFormAngular.Models.ContactFormAngular
@{
    ViewBag.Title = "Contact me";
}

<div id="contact-form-controller" data-ng-controller="ContactFormController as form" class="row">
    <div class="col-md-12" data-ng-class="{'hide': form.formSubmitted}">
        
        <h1>@ViewBag.Title</h1>

        <form name="contactForm" method="POST" novalidate>
            <div class="form-group">
                <label for="Name">Name*: </label>
                @Html.TextBoxFor(m => m.Name, new { type = "text", required = "", pattern = "[A-Za-z]+[A-Za-z ]{4,150}", data_ng_model = "form.newEnquiry.name", @class = "form-control", placeholder = "Your name", aria_required = "true" })
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" }).ToHtmlString()))
            </div>
            <div class="form-group">
                <label for="Email">Email*: </label>
                @Html.TextBoxFor(m => m.Email, new { type = "email", required = "", data_ng_model = "form.newEnquiry.email", @class = "form-control", placeholder = "Email address", aria_required = "true" })
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" }).ToHtmlString()))
            </div>
            <div class="form-group">
                <label for="Comment">Comment: </label>
                @Html.TextAreaFor(m => m.Comment, new { data_ng_model = "form.newEnquiry.comment", @class = "form-control", rows = "5", placeholder = "Your comments, please" })
            </div>
            <button type="submit" data-ng-click="form.submit(contactForm)" class="btn btn-primary">Submit</button>
            <button type="reset" data-ng-click="form.reset()" class="btn btn-default">Reset</button>
        </form>
        <div class="col-md-12">
            <p class="small text-muted">* required fields</p>
        </div>
    </div>
    <div class="col-md-12 hide" data-ng-cloak data-ng-class="{'hide' : !form.formSubmitted}">
        <h2>Thank you</h2>
        <p>Thank you for contacting us <i>{{form.newEnquiry.name}}</i>. We will get back to you shortly. </p>
    </div>


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/app")
}